<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./Logs</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>

        <RollingFile name="fileLogger"
                     fileName="${basePath}/Execution-${date:yyyy-MM-dd-HH-mm}.log"
                     filePattern="${basePath}/Execution-%d{yyyy-MM-dd-HH-mm}.log"
                     append="false">

            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="fileLogger"/>
            <appender-ref ref="Console"/>
        </Root>
    </Loggers>

</Configuration>